option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "autozone.settings"
    "PYTHONPATH": "/opt/python/current/app/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: autozone/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /static/: static